body{
    background-image:url("../img/map_bg.jpg");
    background-size: cover;

}
#form{
    border:2px solid black;
    padding: 30px;
    margin:200px auto 0px auto;
    width: 280px;
    background: rgba(0,0,0,0.5);
}

#enter{
  margin: 10px 0px 0px 110px;
    background: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

#enter:hover{
    background: lightblue;
    color: red;
}
.textLogin{
    font-weight:bold;
    color: white;
}
input{
    text-align: center;
}